%h2=t('.pages')

%table
  %tr
    %th=t('.id')
    %th=t('.path')
    %th=t('.handler')
    %th=t('.content_size')
  -@pages.each do |page|
    %tr
      %td=page.id
      %td=link_to page.path, [:edit, page]
      %td=page.handler
      %td=number_to_human_size(page.content.try(:length))
      -#=link_to t('.destroy'), @page, :method => :destroy

=link_to t('.new'), new_page_path

