/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.

*= require formtastic
*= require codemirror
*= require codemirror/themes/ambiance
*/


body#mountable_cms {
    font-family: Verdana, Helvetica, Arial, Sans-Serif;
    background-color: Azure;
    color: CornflowerBlue;
    margin: 0;
    h1 {
        background-color: CornflowerBlue;
        color: Azure;
        margin: 0;
        padding: 30px;
    }
    .wrapper {
        padding: 30px;
    }
    table {
        width: 100%;
        th {
            border-bottom: 2px solid CornflowerBlue;
        }
        tr:nth-child(odd) td {
            background-color: GhostWhite;
        }
    }
}